{{ template "Header" }}
<header>
    <h1>Blog with Gin</h1>
</header>

<nav>
    {{ range .Menu }}
        <a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
</nav>

<section>
    <article>

        <h2>Articles</h2><br/>
        {{ range .Articles }}
        <p>{{ .Title }}</p>
        <span>{{ .Text }}</span><br/>
        <a href="#{{ .ID }}" onclick="">read more...</a>
        <br/><br/>
        {{ end }}

    </article>
</section>
{{ template "Footer" }}

